<button class="btn btn-primary" [disabled]="!allowNewServer">Add Server</button> <!-- Binding the native element property "disabled" to my own TypeScript property 
                                                                                    here. Added an exclamation mark to make sure that the button is only disabled if
                                                                                    the value of allowNewServer is not true. -->
<app-server></app-server>
<app-server></app-server>