<label>Server Name</label>
<!-- <input 
    type="text" 
    class="form-control"
    (input)="onUpdateServerName($event)">  -->
    <!-- $event is a reserved word which gives us access to event data. -->
<input 
    type="text" 
    class="form-control"
    [(ngModel)]="serverName"> 
    <!-- This set up is a two-way binding (unlike the one above) will do the following, it will trigger on the input event and 
        update the value of server name in our component automatically. On the other hand, 
        since it is two-way binding, it will also update the value of the input element if 
        we change server name somewhere else and I've demonstrated this by going back to the TypeScript code
        and setting server name to Test Server here initially. -->
<!-- <p>{{ serverName }}</p> -->
<button 
class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()">Add Server</button> 
    <!-- Binding the native element property "disabled" to my own TypeScript property 
    here. Added an exclamation mark to make sure that the button is only disabled if
    the value of allowNewServer is not true. -->
    <!-- Instead of using the onClick attribute on HTML, we use the syntax Angular offers e.g. () with event name in between
    us. Although we can do inline code in the template if all I want to do is to set some boolean property to true for example
    or do a serverCreationStatus = 'Server was created!', we still shouldn't put too much logic into our templates as a rule
    of thumb. -->
<!-- <p>{{ allowNewServer }}</p> -->
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>